<div class="teaser">
  <div class="cmp-teaser">
    <div class="cmp-teaser__image">
      <div class="cmp-image">
        <img class="cmp-image__image">
      </div>
    </div>
    <div class="cmp-teaser__content">
      <h2 class="cmp-teaser__title">
        <a class="cmp-teaser__title-link">Teaser Title</a>
      </h2>
      <div class="cmp-teaser__description">
        <p>Teaser Description</p>
      </div>
      <div class="cmp-teaser__action-container">
        <a class="cmp-teaser__action-link">Call To Action</a>
      </div>
    </div>
  </div>
</div>