<div class="container responsivegrid">
  <div id="container-bab66e96fe" class="cmp-container">
    <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
      <div
        class="text aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
        <div
          data-cmp-data-layer="{&quot;text-ffbb03c51b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;xdm:text&quot;:&quot;<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>\r\n&quot;}}"
          id="text-ffbb03c51b" class="cmp-text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua. Eu mi bibendum neque egestas congue quisque egestas. Varius morbi enim nunc faucibus a
            pellentesque. Scelerisque eleifend donec pretium vulputate sapien nec sagittis.</p>
        </div>
      </div>
      <div
        class="image aem-GridColumn--default--none aem-GridColumn aem-GridColumn--default--6 aem-GridColumn--offset--default--0">
        <div data-cmp-lazythreshold="0"
          data-cmp-src="/content/core-components-examples/library/container/container/_jcr_content/root/responsivegrid/demo_975671829/component/container/image.coreimg{.width}.jpeg/1560274820735/snowy-mountain-glacier.jpeg"
          data-asset="/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg"
          data-asset-id="45c6ee92-90e1-4af2-af69-b6dcbc7daeb7" data-title="Snowy mountain glacier" id="image-066a48972a"
          data-cmp-data-layer="{&quot;image-066a48972a&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;repo:modifyDate&quot;:&quot;2019-06-11T17:40:20Z&quot;,&quot;dc:title&quot;:&quot;Snowy mountain glacier&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;45c6ee92-90e1-4af2-af69-b6dcbc7daeb7&quot;,&quot;repo:modifyDate&quot;:&quot;2019-02-20T14:21:37Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/snowy-mountain-glacier.jpg&quot;,&quot;xdm:tags&quot;:[],&quot;xdm:smartTags&quot;:{}}}}"
          class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
          <img
            src="/content/core-components-examples/library/container/container/_jcr_content/root/responsivegrid/demo_975671829/component/container/image.coreimg.jpeg/1560274820735/snowy-mountain-glacier.jpeg"
            class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt="Snowy mountain glacier"
            title="Snowy mountain glacier">
          <meta itemprop="caption" content="Snowy mountain glacier">
        </div>
      </div>
    </div>
  </div>
</div>