<div class="navigation">
  <nav id="navigation-5a057c20a4" class="cmp-navigation" role="navigation" itemscope=""
    itemtype="http://schema.org/SiteNavigationElement"
    data-cmp-data-layer="{&quot;navigation-5a057c20a4&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation&quot;,&quot;repo:modifyDate&quot;:&quot;2019-05-21T16:07:03Z&quot;}}">
    <ul class="cmp-navigation__group">
      <li class="cmp-navigation__item cmp-navigation__item--level-0 cmp-navigation__item--active"
        data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-3a6bcb4e2c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Core Components&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples.html&quot;}}">
        <a href="/content/core-components-examples.html" title="Core Components" data-cmp-clickable=""
          class="cmp-navigation__item-link">Core Components</a>
        <ul class="cmp-navigation__group">
          <li class="cmp-navigation__item cmp-navigation__item--level-1"
            data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-734f73b286&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-03-17T08:17:44Z&quot;,&quot;dc:title&quot;:&quot;Config&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/config.html&quot;}}">
            <a href="/content/core-components-examples/config.html" title="Config" data-cmp-clickable=""
              class="cmp-navigation__item-link">Config</a>
          </li>
          <li class="cmp-navigation__item cmp-navigation__item--level-1 cmp-navigation__item--active"
            data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-9bee4d4454&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2019-12-20T18:35:24Z&quot;,&quot;dc:title&quot;:&quot;Component Library&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library.html&quot;}}">
            <a href="/content/core-components-examples/library.html" title="Component Library" data-cmp-clickable=""
              class="cmp-navigation__item-link">Component Library</a>
            <ul class="cmp-navigation__group">
              <li class="cmp-navigation__item cmp-navigation__item--level-2 cmp-navigation__item--active"
                data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-1d32a567a9&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Templating&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating.html&quot;}}">
                <a href="/content/core-components-examples/library/templating.html" title="Templating"
                  data-cmp-clickable="" class="cmp-navigation__item-link">Templating</a>
                <ul class="cmp-navigation__group">
                  <li class="cmp-navigation__item cmp-navigation__item--level-3 cmp-navigation__item--active"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-a15ec9918d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:30Z&quot;,&quot;dc:title&quot;:&quot;Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/navigation.html&quot;}}">
                    <a href="/content/core-components-examples/library/templating/navigation.html" title="Navigation"
                      aria-current="page" data-cmp-clickable="" class="cmp-navigation__item-link">Navigation</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-e628106fe1&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Language Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html&quot;}}">
                    <a href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html"
                      title="Language Navigation" data-cmp-clickable="" class="cmp-navigation__item-link">Language
                      Navigation</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-35671d6884&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html&quot;}}">
                    <a href="/content/core-components-examples/library/templating/breadcrumb/hidden/level-1/level-2/breadcrumb.html"
                      title="Breadcrumb" data-cmp-clickable="" class="cmp-navigation__item-link">Breadcrumb</a>
                  </li>
                </ul>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2"
                data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-a0e12c193c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Page Authoring&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring.html&quot;}}">
                <a href="/content/core-components-examples/library/page-authoring.html" title="Page Authoring"
                  data-cmp-clickable="" class="cmp-navigation__item-link">Page Authoring</a>
                <ul class="cmp-navigation__group">
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-df1699a779&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Title&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/title.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/title.html" title="Title"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Title</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-e13089bf3b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:42Z&quot;,&quot;dc:title&quot;:&quot;Text&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/text.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/text.html" title="Text"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Text</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-26f940ec0f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:34Z&quot;,&quot;dc:title&quot;:&quot;Image&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/image.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/image.html" title="Image"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Image</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-5ce5bb112c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:37Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/button.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/button.html" title="Button"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Button</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-bd937d6b13&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:32Z&quot;,&quot;dc:title&quot;:&quot;Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/teaser.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/teaser.html" title="Teaser"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Teaser</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-d911db0f45&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:36Z&quot;,&quot;dc:title&quot;:&quot;Download&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/download.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/download.html" title="Download"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Download</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-da73ac8b3b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:40Z&quot;,&quot;dc:title&quot;:&quot;List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/list.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/list.html" title="List"
                      data-cmp-clickable="" class="cmp-navigation__item-link">List</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-849883059f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:39Z&quot;,&quot;dc:title&quot;:&quot;Experience Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/experience-fragment.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/experience-fragment.html"
                      title="Experience Fragment" data-cmp-clickable="" class="cmp-navigation__item-link">Experience
                      Fragment</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-12f115629d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:38Z&quot;,&quot;dc:title&quot;:&quot;Content Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/content-fragment.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/content-fragment.html"
                      title="Content Fragment" data-cmp-clickable="" class="cmp-navigation__item-link">Content
                      Fragment</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-f48a790a96&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:43Z&quot;,&quot;dc:title&quot;:&quot;Content Fragment List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/content-fragment-list.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/content-fragment-list.html"
                      title="Content Fragment List" data-cmp-clickable="" class="cmp-navigation__item-link">Content
                      Fragment List</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-12fc929c8a&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Embed&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/embed.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/embed.html" title="Embed"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Embed</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-9f8160f4bd&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-06-18T11:25:34Z&quot;,&quot;dc:title&quot;:&quot;PDF Viewer&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/pdf-viewer.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/pdf-viewer.html"
                      title="PDF Viewer" data-cmp-clickable="" class="cmp-navigation__item-link">PDF Viewer</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-5cc306b231&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-05-29T15:04:39Z&quot;,&quot;dc:title&quot;:&quot;Progress Bar&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/progressbar.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/progressbar.html"
                      title="Progress Bar" data-cmp-clickable="" class="cmp-navigation__item-link">Progress Bar</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-db5309eae3&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:42Z&quot;,&quot;dc:title&quot;:&quot;Social Sharing&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/social-sharing.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/social-sharing.html"
                      title="Social Sharing" data-cmp-clickable="" class="cmp-navigation__item-link">Social Sharing</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-611486886f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:41Z&quot;,&quot;dc:title&quot;:&quot;Separator&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/separator.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/separator.html" title="Separator"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Separator</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-abdc936d9e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-05-27T13:00:15Z&quot;,&quot;dc:title&quot;:&quot;AEM Forms Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/page-authoring/aemform.html&quot;}}">
                    <a href="/content/core-components-examples/library/page-authoring/aemform.html"
                      title="AEM Forms Container" data-cmp-clickable="" class="cmp-navigation__item-link">AEM Forms
                      Container</a>
                  </li>
                </ul>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2"
                data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-a66590213e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/container.html&quot;}}">
                <a href="/content/core-components-examples/library/container.html" title="Container"
                  data-cmp-clickable="" class="cmp-navigation__item-link">Container</a>
                <ul class="cmp-navigation__group">
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-9caf5e2f9d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:27Z&quot;,&quot;dc:title&quot;:&quot;Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/container/container.html&quot;}}">
                    <a href="/content/core-components-examples/library/container/container.html" title="Container"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Container</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-b0a08e7237&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:28Z&quot;,&quot;dc:title&quot;:&quot;Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/container/carousel.html&quot;}}">
                    <a href="/content/core-components-examples/library/container/carousel.html" title="Carousel"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Carousel</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-7672511d00&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:28Z&quot;,&quot;dc:title&quot;:&quot;Tabs&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/container/tabs.html&quot;}}">
                    <a href="/content/core-components-examples/library/container/tabs.html" title="Tabs"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Tabs</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-b4c899a5ef&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:27Z&quot;,&quot;dc:title&quot;:&quot;Accordion&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/container/accordion.html&quot;}}">
                    <a href="/content/core-components-examples/library/container/accordion.html" title="Accordion"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Accordion</a>
                  </li>
                </ul>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2"
                data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-e0564bed01&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Form&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/form.html&quot;}}">
                <a href="/content/core-components-examples/library/form.html" title="Form" data-cmp-clickable=""
                  class="cmp-navigation__item-link">Form</a>
                <ul class="cmp-navigation__group">
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-4f978b47d0&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-03-13T18:39:28Z&quot;,&quot;dc:title&quot;:&quot;Container&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/form/container.html&quot;}}">
                    <a href="/content/core-components-examples/library/form/container.html" title="Container"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Container</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-e01425b0b2&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-03-13T18:39:29Z&quot;,&quot;dc:title&quot;:&quot;Input&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/form/input.html&quot;}}">
                    <a href="/content/core-components-examples/library/form/input.html" title="Input"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Input</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-6e625a09fd&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-03-13T18:39:29Z&quot;,&quot;dc:title&quot;:&quot;Options&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/form/options.html&quot;}}">
                    <a href="/content/core-components-examples/library/form/options.html" title="Options"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Options</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-ac38626e6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-03-13T18:39:29Z&quot;,&quot;dc:title&quot;:&quot;Hidden&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/form/hidden.html&quot;}}">
                    <a href="/content/core-components-examples/library/form/hidden.html" title="Hidden"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Hidden</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-eaedd4ea75&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-03-13T18:39:28Z&quot;,&quot;dc:title&quot;:&quot;Button&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/form/button.html&quot;}}">
                    <a href="/content/core-components-examples/library/form/button.html" title="Button"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Button</a>
                  </li>
                </ul>
              </li>
              <li class="cmp-navigation__item cmp-navigation__item--level-2"
                data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-9ab3d0177f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;dc:title&quot;:&quot;Commerce&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce.html&quot;}}">
                <a href="/content/core-components-examples/library/commerce.html" title="Commerce" data-cmp-clickable=""
                  class="cmp-navigation__item-link">Commerce</a>
                <ul class="cmp-navigation__group">
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-0dea1ff70e&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/product.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/product.html" title="Product"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Product</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-3253e121af&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productteaser.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/productteaser.html"
                      title="Product Teaser" data-cmp-clickable="" class="cmp-navigation__item-link">Product Teaser</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-a951b11a6c&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productcarousel.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/productcarousel.html"
                      title="Product Carousel" data-cmp-clickable="" class="cmp-navigation__item-link">Product
                      Carousel</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-9e0a26222d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Related Products&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/relatedproducts.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/relatedproducts.html"
                      title="Related Products" data-cmp-clickable="" class="cmp-navigation__item-link">Related
                      Products</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-b907503750&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Product List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/productlist.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/productlist.html" title="Product List"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Product List</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-d2f34340dd&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Search&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/search.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/search.html" title="Search"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Search</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-cf30385173&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Category Carousel&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/categorycarousel.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/categorycarousel.html"
                      title="Category Carousel" data-cmp-clickable="" class="cmp-navigation__item-link">Category
                      Carousel</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-7ca4f389fe&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Featured Category List&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/featuredcategorylist.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/featuredcategorylist.html"
                      title="Featured Category List" data-cmp-clickable="" class="cmp-navigation__item-link">Featured
                      Category List</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-af0aa43138&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Commerce Teaser&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/teaser.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/teaser.html" title="Commerce Teaser"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Commerce Teaser</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-98fa786e24&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Navigation&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/navigation.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/navigation.html" title="Navigation"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Navigation</a>
                    <ul class="cmp-navigation__group">
                      <li class="cmp-navigation__item cmp-navigation__item--level-4"
                        data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-5ecc840b3f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Catalog Page&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/navigation/catalogpage.html&quot;}}">
                        <a href="/content/core-components-examples/library/commerce/navigation/catalogpage.html"
                          title="Catalog Page" data-cmp-clickable="" class="cmp-navigation__item-link">Catalog Page</a>
                      </li>
                    </ul>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-3a75e07a3d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Breadcrumb&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/breadcrumb.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/breadcrumb.html" title="Breadcrumb"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Breadcrumb</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-b5ffe840f5&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Minicart &amp; Checkout&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/minicart.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/minicart.html"
                      title="Minicart &amp; Checkout" data-cmp-clickable="" class="cmp-navigation__item-link">Minicart
                      &amp; Checkout</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-2209db81b0&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Cart Trigger&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/carttrigger.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/carttrigger.html" title="Cart Trigger"
                      data-cmp-clickable="" class="cmp-navigation__item-link">Cart Trigger</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-1839f3c753&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Reset Password&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/resetpassword.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/resetpassword.html"
                      title="Reset Password" data-cmp-clickable="" class="cmp-navigation__item-link">Reset Password</a>
                  </li>
                  <li class="cmp-navigation__item cmp-navigation__item--level-3"
                    data-cmp-data-layer="{&quot;navigation-5a057c20a4-item-f330b5221d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/navigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2021-02-11T17:13:13Z&quot;,&quot;dc:title&quot;:&quot;Experience Fragment&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/commerce/experiencefragment.html&quot;}}">
                    <a href="/content/core-components-examples/library/commerce/experiencefragment.html"
                      title="Experience Fragment" data-cmp-clickable="" class="cmp-navigation__item-link">Experience
                      Fragment</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>