<div class="embed">
  <div id="embed-7f788b93db" class="cmp-embed">

    <a data-pin-do="embedPin"
      href="https://www.pinterest.com/pin/146859637829777606/">https://www.pinterest.com/pin/146859637829777606/</a>
    <script>
      var pinterestScript = "https://assets.pinterest.com/js/pinit.js";
      var scripts = document.getElementsByTagName("script");
      var exists = false;
      for (var i = 0; i < scripts.length; i++) {
        if (scripts[i].src.indexOf(pinterestScript) >= 0) {
          exists = true;
          break;
        }
      }
      if (!exists) {
        var script = document.createElement("script");
        script.src = pinterestScript;
        script.setAttribute("data-pin-build", "doBuild");
        document.getElementsByTagName("body")[0].appendChild(script);
      }
      if (typeof window.doBuild === "function") {
        window.doBuild();
      }
    </script>


  </div>

</div>