<div class="carousel">
  <div class="cmp-carousel">
    <div class="cmp-carousel__content">
      <div class="cmp-carousel__item cmp-carousel__item--active">
        <div class="image">
          <div class="cmp-image">
            <img class="cmp-image__image">
          </div>
        </div>
      </div>
      <div class="cmp-carousel__actions">
        <button class="cmp-carousel__action cmp-carousel__action--previous" type="button" aria-label="Previous"
          data-cmp-hook-carousel="previous">
          <span class="cmp-carousel__action-icon"></span>
          <span class="cmp-carousel__action-text">Previous</span>
        </button>
        <button class="cmp-carousel__action cmp-carousel__action--next" type="button" aria-label="Next"
          data-cmp-hook-carousel="next">
          <span class="cmp-carousel__action-icon"></span>
          <span class="cmp-carousel__action-text">Next</span>
        </button>
      </div>
      <ol class="cmp-carousel__indicators" role="tablist" aria-label="Choose a slide to display"
        data-cmp-hook-carousel="indicators">
        <li id="carousel-c813aecaf1-item-29f3ed4bf5-tab" class="cmp-carousel__indicator cmp-carousel__indicator--active"
          role="tab" aria-controls="carousel-c813aecaf1-item-29f3ed4bf5-tabpanel" aria-label="Slide 1"
          data-cmp-hook-carousel="indicator" aria-selected="true" tabindex="0">Title</li>
        <li id="carousel-c813aecaf1-item-34fc86e545-tab" class="cmp-carousel__indicator" role="tab"
          aria-controls="carousel-c813aecaf1-item-34fc86e545-tabpanel" aria-label="Slide 2"
          data-cmp-hook-carousel="indicator" aria-selected="false" tabindex="-1"></li>
        <li id="carousel-c813aecaf1-item-d5ac18068a-tab" class="cmp-carousel__indicator" role="tab"
          aria-controls="carousel-c813aecaf1-item-d5ac18068a-tabpanel" aria-label="Slide 3"
          data-cmp-hook-carousel="indicator" aria-selected="false" tabindex="-1"></li>
      </ol>
    </div>
  </div>
</div>