<div class="flex-grow-0 search">
  <section id="search-0dc3246b7d" class="cmp-search" role="search" data-cmp-min-length="3" data-cmp-results-size="10">
    <form class="cmp-search__form" data-cmp-hook-search="form" method="get"
      action="/content/comenity-wireframe-test/en/index.searchresults.json/_jcr_content/root/content/container/container/search"
      autocomplete="off" _lpchecked="1">
      <div class="cmp-search__field">
        <i class="cmp-search__icon" data-cmp-hook-search="icon"></i>
        <span class="cmp-search__loading-indicator" data-cmp-hook-search="loadingIndicator"></span>
        <input class="cmp-search__input" data-cmp-hook-search="input" type="text" name="fulltext" placeholder="Search"
          role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-invalid="false" aria-expanded="false"
          aria-owns="cmp-search-results-0">
        <button class="cmp-search__clear" data-cmp-hook-search="clear" aria-label="Clear" aria-hidden="true"
          style="display: none;">
          <i class="cmp-search__clear-icon"></i>
        </button>
      </div>
    </form>
    <div class="cmp-search__results" aria-label="Search results" data-cmp-hook-search="results" role="listbox"
      aria-multiselectable="false" id="cmp-search-results-0"></div>

    <script data-cmp-hook-search="itemTemplate" type="x-template">
      <a class="cmp-search__item" data-cmp-hook-search="item" role="option" aria-selected="false">
          <span class="cmp-search__item-title" data-cmp-hook-search="itemTitle"></span>
      </a>
  </script>

  </section>
</div>