<div class="download">
  <div id="download-28221f57f4" class="cmp-download">
    <h3 class="cmp-download__title">
      <a class="cmp-download__title-link"
        href="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg.coredownload.jpeg"
        aria-hidden="true" role="presentation">Lava flowing into the ocean</a>
    </h3>
    <div class="cmp-download__description">Lava flowing into the ocean</div>
    <dl class="cmp-download__properties">
      <div class="cmp-download__property cmp-download__property--filename">
        <dt class="cmp-download__property-label">Filename</dt>
        <dd class="cmp-download__property-content">lava-into-ocean.jpg</dd>
      </div>
      <div class="cmp-download__property cmp-download__property--size">
        <dt class="cmp-download__property-label">Size</dt>
        <dd class="cmp-download__property-content">495 KB</dd>
      </div>
      <div class="cmp-download__property cmp-download__property--format">
        <dt class="cmp-download__property-label">Format</dt>
        <dd class="cmp-download__property-content">image/jpeg</dd>
      </div>
    </dl>
    <a class="cmp-download__action"
      href="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg.coredownload.jpeg"
      aria-label="Download lava-into-ocean.jpg">
      <span class="cmp-download__action-text">Download</span>
    </a>
  </div>
</div>