<div class="image">
  <div data-cmp-lazythreshold="0"
    data-cmp-src="/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1384627264/component/image.coreimg{.width}.jpeg/1550672497829/lava-into-ocean.jpeg"
    data-asset="/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg"
    data-asset-id="0f54e1b5-535b-45f7-a46b-35abb19dd6bc" data-title="Lava flowing into the ocean" id="image-1a5cc576ae"
    data-cmp-data-layer="{&quot;image-1a5cc576ae&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;repo:modifyDate&quot;:&quot;2018-12-07T11:48:48Z&quot;,&quot;dc:title&quot;:&quot;Lava flowing into the ocean&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;0f54e1b5-535b-45f7-a46b-35abb19dd6bc&quot;,&quot;repo:modifyDate&quot;:&quot;2019-02-20T14:21:37Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/lava-into-ocean.jpg&quot;,&quot;xdm:tags&quot;:[],&quot;xdm:smartTags&quot;:{}}}}"
    class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
    <a class="cmp-image__link" href="/content/core-components-examples/library/page-authoring/image.html"
      data-cmp-clickable="" data-cmp-hook-image="link">
      <img
        src="/content/core-components-examples/library/page-authoring/image/_jcr_content/root/responsivegrid/demo_1473529393/component/image.coreimg.jpeg/1550672497135/snowy-mountain-glacier.jpeg"
        class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image" alt="Snowy mountain glacier"
        title="Snowy mountain glacier">
    </a>
    <span class="cmp-image__title" itemprop="caption">Lava flowing into the ocean</span>
  </div>
</div>