<div class="experiencefragment">
  <div id="experiencefragment-fe1a326f86"
    class="cmp-experiencefragment cmp-experiencefragment--simple-experience-fragment">
    <div class="xf-content-height">
      <div class="root responsivegrid">
        <div class="aem-Grid aem-Grid--12 aem-Grid--default--12 ">
          <div class="text aem-GridColumn aem-GridColumn--default--12">
            <div
              data-cmp-data-layer="{&quot;text-cda7d0867d&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/text&quot;,&quot;repo:modifyDate&quot;:&quot;2019-07-17T13:17:32Z&quot;,&quot;xdm:text&quot;:&quot;<p>Lava forming some rock.</p>\r\n&quot;}}"
              id="text-cda7d0867d" class="cmp-text">
              <p>Lava forming some rock.</p>
            </div>
          </div>
          <div class="image aem-GridColumn aem-GridColumn--default--12">
            <div data-cmp-lazythreshold="0"
              data-cmp-src="/content/experience-fragments/core-components-examples/library/simple-experience-fragment/master/_jcr_content/root/image.coreimg{.width}.jpeg/1563369501810/lava-rock-formation.jpeg"
              data-asset="/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg"
              data-asset-id="c58c09f6-e382-4698-bfbd-e8c8d37712c8" data-title="Gray lava rock formation"
              id="image-83bac327b9"
              data-cmp-data-layer="{&quot;image-83bac327b9&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/image&quot;,&quot;repo:modifyDate&quot;:&quot;2019-07-17T13:18:21Z&quot;,&quot;dc:title&quot;:&quot;Gray lava rock formation&quot;,&quot;image&quot;:{&quot;repo:id&quot;:&quot;c58c09f6-e382-4698-bfbd-e8c8d37712c8&quot;,&quot;repo:modifyDate&quot;:&quot;2019-02-20T14:21:38Z&quot;,&quot;@type&quot;:&quot;image/jpeg&quot;,&quot;repo:path&quot;:&quot;/content/dam/core-components-examples/library/sample-assets/lava-rock-formation.jpg&quot;,&quot;xdm:tags&quot;:[],&quot;xdm:smartTags&quot;:{}}}}"
              class="cmp-image" itemscope="" itemtype="http://schema.org/ImageObject">
              <img
                src="/content/experience-fragments/core-components-examples/library/simple-experience-fragment/master/_jcr_content/root/image.coreimg.jpeg/1563369501810/lava-rock-formation.jpeg"
                class="cmp-image__image" itemprop="contentUrl" data-cmp-hook-image="image"
                alt="Gray lava rock formation" title="Gray lava rock formation">
              <meta itemprop="caption" content="Gray lava rock formation">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>