<div class="languagenavigation">
  <nav
    data-cmp-data-layer="{&quot;languagenavigation-e411fdc67f&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/languagenavigation&quot;,&quot;repo:modifyDate&quot;:&quot;2019-06-06T07:40:17Z&quot;}}"
    id="languagenavigation-e411fdc67f" class="cmp-languagenavigation">
    <ul class="cmp-languagenavigation__group">
      <li
        class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-DE cmp-languagenavigation__item--langcode-de-DE cmp-languagenavigation__item--level-0">
        <span class="cmp-languagenavigation__item-title" lang="de-DE">Deutschland</span>
        <ul class="cmp-languagenavigation__group">
          <li
            class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-DE cmp-languagenavigation__item--langcode-de-DE cmp-languagenavigation__item--level-1"
            data-cmp-data-layer="{&quot;languagenavigation-e411fdc67f-item-72cae85f1b&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/languagenavigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Deutsch&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/language-navigation/language-structure/de/de/language-navigation.html&quot;,&quot;xdm:language&quot;:&quot;de-DE&quot;}}">
            <a data-cmp-clickable="" class="cmp-languagenavigation__item-link"
              href="/content/core-components-examples/library/templating/language-navigation/language-structure/de/de/language-navigation.html"
              hreflang="de-DE" lang="de-DE" rel="alternate" title="Deutsch">Deutsch</a>
          </li>
        </ul>
      </li>
      <li
        class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-FR cmp-languagenavigation__item--langcode-fr-FR cmp-languagenavigation__item--level-0">
        <span class="cmp-languagenavigation__item-title" lang="fr-FR">France</span>
        <ul class="cmp-languagenavigation__group">
          <li
            class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-FR cmp-languagenavigation__item--langcode-fr-FR cmp-languagenavigation__item--level-1"
            data-cmp-data-layer="{&quot;languagenavigation-e411fdc67f-item-1f1a991637&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/languagenavigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:30Z&quot;,&quot;dc:title&quot;:&quot;Français&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/language-navigation/language-structure/fr/fr/language-navigation.html&quot;,&quot;xdm:language&quot;:&quot;fr-FR&quot;}}">
            <a data-cmp-clickable="" class="cmp-languagenavigation__item-link"
              href="/content/core-components-examples/library/templating/language-navigation/language-structure/fr/fr/language-navigation.html"
              hreflang="fr-FR" lang="fr-FR" rel="alternate" title="Français">Français</a>
          </li>
        </ul>
      </li>
      <li
        class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-en-US cmp-languagenavigation__item--level-0 cmp-languagenavigation__item--active">
        <span class="cmp-languagenavigation__item-title" lang="en-US">United States</span>
        <ul class="cmp-languagenavigation__group">
          <li
            class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-US cmp-languagenavigation__item--langcode-en-US cmp-languagenavigation__item--level-1 cmp-languagenavigation__item--active"
            data-cmp-data-layer="{&quot;languagenavigation-e411fdc67f-item-bf8f56f487&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/languagenavigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;English&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html&quot;,&quot;xdm:language&quot;:&quot;en-US&quot;}}">
            <a data-cmp-clickable="" aria-current="page" class="cmp-languagenavigation__item-link"
              href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/en/language-navigation.html"
              hreflang="en-US" lang="en-US" rel="alternate" title="English">English</a>
          </li>
          <li
            class="cmp-languagenavigation__item cmp-languagenavigation__item--countrycode-ES cmp-languagenavigation__item--langcode-es-ES cmp-languagenavigation__item--level-1"
            data-cmp-data-layer="{&quot;languagenavigation-e411fdc67f-item-880c07dfb0&quot;:{&quot;@type&quot;:&quot;core-components-examples/components/languagenavigation/item&quot;,&quot;repo:modifyDate&quot;:&quot;2020-01-16T15:15:29Z&quot;,&quot;dc:title&quot;:&quot;Español&quot;,&quot;xdm:linkURL&quot;:&quot;/content/core-components-examples/library/templating/language-navigation/language-structure/us/es/language-navigation.html&quot;,&quot;xdm:language&quot;:&quot;es-ES&quot;}}">
            <a data-cmp-clickable="" class="cmp-languagenavigation__item-link"
              href="/content/core-components-examples/library/templating/language-navigation/language-structure/us/es/language-navigation.html"
              hreflang="es-ES" lang="es-ES" rel="alternate" title="Español">Español</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>